a{
    background-color: green;
    text-decoration: none;
    color: white;
    border-radius: 30%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

span{
    font-weight: bold;
}